<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/utils.css">
    <title>Assignment - Admin</title>
</head>

<body>

    <main class="container" style="height: 100vh;">

        <form class="container flex-col">
            <h2>User Details</h2>

            <input id="name" type="text" placeholder="Name" required>
            <input id="email" type="email" placeholder="Email" required>
            <input id="age" type="number" placeholder="Age" required>
            <input id="dob" type="date" placeholder="Date of Birth" required>
            <button id="btn-submit">Submit</button>
            <p id="message" class="message">Data inserted successfully</p>
        </form>
    </main>


    <script src="../javascript/admin.js"></script>

</body>

</html>